beautifulsoup4

google-api-core
google-api-python-client
google-auth
google-auth-httplib2

gradio
gradio_client

huggingface-hub>=0.23,<0.25

websockets==15.0.1

ipykernel
ipython

lancedb

llama-index==0.10.57
llama-index-vector-stores-lancedb==0.1.8
llama-index-embeddings-huggingface==0.2.2
llama-index-llms-huggingface-api==0.1.9
llama-index-embeddings-openai==0.1.11
llama-index-llms-openrouter==0.1.5

nltk
numpy
pandas

openai>=1.30.0

openai-whisper

pydantic>=2.7,<3.0

sentence-transformers==2.7.0

spacy

torch

transformers==4.41.2
accelerate==0.31.0

yt-dlp


